// Buttons
// ––––––––––––––––––––––––––––––––––––––––––––––––––

@import '../settings';

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;

  display: inline-block;

  box-sizing: border-box;
  height: 38px;
  padding: 0 30px;

  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  color: $button-font-color;
  border: 1px solid $button-border-color;
  border-radius: $global-radius;
  background-color: transparent;
  &:hover,
  &:focus {
    color: $button-hover-font-color;
    border-color: $button-hover-border-color;
    outline: 0;
  }
  &.button-primary {
    color: $button-primary-font-color;
    border-color: $primary-color;
    background-color: $primary-color;
    &:hover,
    &:focus {
      color: $button-primary-font-color;
      border-color: $link-color;
      background-color: $link-color;
    }
  }
}
