// Code
// ––––––––––––––––––––––––––––––––––––––––––––––––––

@import '../settings';

code {
  font-size: 90%;

  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;

  white-space: nowrap;

  border: 1px solid $border-color;
  border-radius: $global-radius;
  background: $code-background-color;
}
pre {
  > code {
    display: block;

    padding: 1rem 1.5rem;

    white-space: pre;
  }
}
