// Forms
// ––––––––––––––––––––––––––––––––––––––––––––––––––

@import '../settings';

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  box-sizing: border-box;
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */

  border: 1px solid $input-border-color;
  border-radius: $global-radius;
  background-color: $input-background-color;
  box-shadow: none;
  &:focus {
    border: 1px solid $primary-color;
    outline: 0;
  }
}
/* Removes awkward default styles on some inputs for iOS */
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
label,
legend {
  font-weight: 600;

  display: block;

  margin-bottom: 0.5rem;
}
fieldset {
  padding: 0;

  border-width: 0;
}
input[type='checkbox'],
input[type='radio'] {
  display: inline;
}
label {
  > .label-body {
    font-weight: normal;

    display: inline-block;

    margin-left: 0.5rem;
  }
}
